<div class="container quadrant-container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col quadrant-col-title">
            <h2>Urgent</h2>
        </div>
        <div class="col quadrant-col-title">
            <h2>Not Urgent</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-1 quadrant-row-title">
            <h2>Important</h2>
        </div>
        <div class="col quadrant">
            <h3>Quadrant 1</h3>
            <ul>
                <li>Use this item as a template <a asp-controller="Home" asp-action="Edit">Edit</a>
                    <a asp-controller="Home" asp-action="Delete">Delete</a></li>
            </ul>
        </div>
        <div class="col quadrant">
            <h3>Quadrant 2</h3>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
                <li>Item 7</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-1 quadrant-row-title">
            <h2>Not Important</h2>
        </div>
        <div class="col quadrant">
            <h3>Quadrant 3</h3>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
                <li>Item 7</li>
            </ul>
        </div>
        <div class="col quadrant">
            <h3>Quadrant 4</h3>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
                <li>Item 4</li>
                <li>Item 5</li>
                <li>Item 6</li>
                <li>Item 7</li>
            </ul>
        </div>
    </div>
    
</div>